body {
	margin: 0em;
	padding: 0em;
	background-color: gray;
	color: white;
  font-family: "Fira Code", monospace, sans-serif, serif;
	font-size: 12pt;
	text-align: center;
	background-image: url("wall.png");
	background-attachment: fixed;
}

ul {
	display: inline-block;
	text-align: left;
  list-style: none;
}
ul li::before {
  content: "> ";
  color: pink;
}

a {
	color: yellow;
}
a:link {
	color: yellow;
}
a:visited {
	color: brown;
}
a:hover {
	color: white;
}
a.literal::after {
  content: attr(href);
}

.navbar {
  overflow: hidden;
	display: flex;
	margin: 1em;
	align-items: center;
	justify-content: center;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.8em;
  text-decoration: none;
  font-size: 16pt;
}
.navbar a::before {
  content: "- ";
  color: pink;
}
.navbar a.active::before {
  content: "@ ";
  color: white;
}
.navbar a.active:hover::before {
  content: "↻ ";
  color: white;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a:hover::before {
  content: "> ";
  color: black;
}
.navbar a.visited {
  color: yellow;
}
.navbar a.active {
  background-color: rgb(150, 50, 100);
  color: white;
}

div.friends {
	margin: 0em;
	padding: 1em;
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
div.friends a {
  float: left;
  text-align: center;
  padding: 0.8em;
  text-decoration: none;
  font-size: 16pt;
}
div.friends a::before {
  content: "> ";
  color: pink;
}

button {
  background-color: rgb(200, 200, 200);
  font-family: sans-serif;
  color: black;
  border-radius: 0.3em;
  border: 0.2em solid black;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: background-color 1s ease;
}
button:hover {
  cursor: pointer;
  transition: none;
  background-color: magenta;
}

div.post p::before {
  content: "<| ";
  color: pink;
}
div.post p::after {
  content: " |>";
  color: pink;
}
button.post-title-text {
  font-size: 18pt;
}

h1 {
	margin: 0em;
	padding: 0.4em;
}
h1::before {
  color: pink;
  content: "</ ";
}
h1::after {
  color: pink;
  content: " />";
}

h3 {
	margin: 0em;
	padding: 0.4em;
	color: rgb(100, 100, 100);
  transition: 1s ease;
}
h3:hover {
  color: red;
}

p {
	margin: 0em;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer {
  line-height: 160%;
}

hr {
  padding: 0.4em;
  border: 0em;
}

.brown {
  color: brown;
}
.pink {
  color: pink;
}
.green {
  color: green;
}
.red {
  color: red;
}

img {
  max-width: 80%;
	height: 80%;
	margin: 0em;
	padding: 0em;
  border: 0.2em solid black;
  transition: 3s ease;
}
img.transparent {
  padding: 1em;
  background-color: rgb(150, 50, 100);
}
#portrait:hover {
  filter: hue-rotate(360deg) brightness(150%);
}
.appicon {
	margin: 0em;
	padding: 0em;
	width: 70%;
	height: 70%;
  border: none;
  transition: filter 1s ease;
}
.appicon:hover {
  filter: brightness(150%);
  transition: none;
}

.fakelink {
  color: yellow;
  cursor: pointer;
  text-decoration: underline;
}
.fakelink:link {
  color: yellow;
}
.fakelink:visited {
  color: brown;
}
.fakelink:hover {
  color: white;
}

.caption {
  letter-spacing: 0.1em;
  background-color: black;
	color: rgb(200, 200, 255);
	margin: 0em;
	padding: 0.4em;
}

.main {
	height: auto;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	max-width: 60em;
	margin: auto;
}

@media (min-width: 40em) {
  .column {
    float: left;
    width: 50%;
    height: 100%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media not (min-width: 40em) {
  .column {
    margin-bottom: 2em;
  }
}

.flexbox {
	margin: 0em;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup {
  min-width: 30em;
	background: rgba(0, 0, 0, 0.6);
	padding: 1em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#george {
  background-color: white;
  width: 90%;
  margin: 1em;
}
