/* one css to rule them all. */

/* TODO: finish extracting colors to variables */

:root {
  --wallpaper-fallback: gray;
  --bg-color: rgba(0, 0, 0, 0.6);
  --bg-active-color: rgb(150, 50, 100);
  --fg-color: white;
  --accent-color: pink;
  --hover-color: #ddd;
  --hover-inverse-color: black;
  --george-bg-color: white;
}

/* absolutely necessary structural classes */

body {
	margin: 0em;
	padding: 0em;
	background-color: var(--wallpaper-fallback);
	color: var(--fg-color);
  font-family: "Fira Code", monospace, sans-serif, serif;
	font-size: 12pt;
	text-align: center;
	background-image: url("wall.png");
	background-attachment: fixed;
}

.main {
	height: auto;
	min-height: 100vh;
	background: var(--bg-color);
	max-width: 60em;
	margin: auto;
}

@media (min-width: 40em) {
  .column {
    float: left;
    width: 50%;
    height: 100%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (max-width: 40em) {
  .column {
    margin-bottom: 2em;
  }
}

.flexbox {
	margin: 0em;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* navbar at the top of every page */

.navbar {
  overflow: hidden;
	display: flex;
	margin: 1em;
	align-items: center;
	justify-content: center;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.8em;
  text-decoration: none;
  font-size: 16pt;
}
.navbar a::before {
  content: "- ";
  color: var(--accent-color);
}
.navbar a.active::before {
  content: "@ ";
  color: var(--hover-color);
}
/*
.navbar a.active:hover::before {
  content: "* ";
}
*/
.navbar a:hover {
  background-color: var(--hover-color);
  color: var(--hover-inverse-color);
}
.navbar a:hover::before {
  content: "> ";
  color: var(--hover-inverse-color);
}
.navbar a.active {
  background-color: var(--bg-active-color);
  color: var(--hover-color);
}


/* basic styling */

ul {
	display: inline-block;
	text-align: left;
  list-style: none;
}
ul li::before {
  content: "> ";
  color: var(--accent-color);
}

a {
	color: yellow;
}
a:link {
	color: yellow;
}
a:visited {
	color: brown;
}
a:hover {
	color: var(--hover-color);
}

button {
  background-color: rgb(200, 200, 200);
  font-family: sans-serif;
  color: black;
  border-radius: 0.3em;
  border: 0.2em solid black;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: background-color 1s ease;
}
button:hover {
  cursor: pointer;
  transition: none;
  background-color: magenta;
}

h1 {
	margin: 0em;
	padding: 0.4em;
}
h1::before {
  color: var(--accent-color);
  content: "</ ";
}
h1::after {
  color: var(--accent-color);
  content: " />";
}

h3 {
	margin: 0em;
	padding: 0.4em;
	color: rgb(100, 100, 100);
  transition: 1s ease;
}
h3:hover {
  color: red;
}

p {
	margin: 0em;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
}

img {
  max-width: 80%;
	height: 80%;
	margin: 0em;
	padding: 0em;
  border: 0.2em solid black;
  transition: 3s ease;
}
img.addbg {
  padding: 1em;
  background-color: rgb(150, 50, 100);
}

footer {
  line-height: 160%;
}

hr {
  padding: 0.4em;
  border: 0em;
}

/* classes */

div.friends {
	margin: 0em;
	padding: 1em;
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
div.friends a {
  float: left;
  text-align: center;
  padding: 0.8em;
  text-decoration: none;
  font-size: 16pt;
}
div.friends a::before {
  content: "> ";
  color: var(--accent-color);
}

div.popup {
  min-width: 30em;
	background: var(--bg-color);
	padding: 1em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a.literal::after {
  content: attr(href);
}

.noselect {
  user-select: none;
}

.brown {
  color: brown;
}
.pink {
  color: pink;
}
.green {
  color: green;
}
.red {
  color: red;
}

.appicon {
  border-radius: 1em;
	margin: 0em;
	padding: 0em;
	width: 70%;
	height: 70%;
  transition: filter 1s ease;
}
.appicon:hover {
  filter: hue-rotate(60deg) brightness(150%);
  transition: none;
}

.fakelink {
  color: yellow;
  cursor: pointer;
  text-decoration: underline;
  user-select: none;
}
.fakelink:link {
  color: yellow;
}
.fakelink:visited {
  color: brown;
}
.fakelink:hover {
  color: var(--hover-color);
}

.caption {
  letter-spacing: 0.1em;
  background-color: black;
	color: rgb(200, 200, 255);
	margin: 0em;
	padding: 0.4em;
}

.flaming {
  background-color: yellow;
  background-image: linear-gradient(45deg, #f3ec78, #df5281);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: filter 1s ease;
}
.flaming:hover {
  /*
  background-color: green;
  background-image: linear-gradient(45deg, #00aa77, #aa00ff);
  */
  filter: hue-rotate(180deg);
  transition: none;
}

div.blogpost p::before {
  content: "<| ";
  color: var(--accent-color);
}
div.blogpost p::after {
  content: " |>";
  color: var(--accent-color);
}
button.blogpost-title-text {
  font-size: 18pt;
}

#george {
  background-color: var(--george-bg-color);
  width: 90%;
  margin: 1em;
}

#self-portrait:hover {
  filter: hue-rotate(360deg) brightness(150%);
}

#apionet {
  border: none;
}